<% @onload = "initialize();" %>
<% content_for :head do -%>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= GOOGLE_MAPS_API_KEY %>" type="text/javascript"></script>
<script type="text/javascript">
/* <![CDATA[ */
function fitMap( map, points ) {
   var bounds = new GLatLngBounds();
   for (var i=0; i< points.length; i++) {
      bounds.extend(points[i]);
   }
   map.setZoom(map.getBoundsZoomLevel(bounds));
//   map.setCenter(bounds.getCenter());
}

function initialize() {
  if (GBrowserIsCompatible()) {
    var latlng = new GLatLng(<%= @location.lat %>,<%= @location.lng %>);
    var map = new GMap2(document.getElementById("map_canvas"));
  	map.setCenter(latlng, 13);

    map.addControl(new GLargeMapControl());
    map.addControl(new GMenuMapTypeControl());

    map.removeMapType(G_SATELLITE_MAP);
    var mapControl = new GMapTypeControl();
    map.addControl(mapControl);

    <% if @location %>
    var locationIcon = new GIcon(G_DEFAULT_ICON);
    locationIcon.image = "http://maps.google.com/mapfiles/arrow.png";
    locationIcon.shadow = "http://www.google.com/mapfiles/arrowshadow.png";
    locationIcon.iconSize = new GSize(39, 34);
    locationIcon.shadowSize = new GSize(39, 34);
    locationIcon.iconAnchor = new GPoint(9, 34);
    
    var zoomMarkers = new Array();
    zoomMarkers[0] = latlng;

    var locationMarker = new GMarker(latlng, { icon:locationIcon } )
    map.addOverlay(locationMarker);
    <% end -%>


    function createMarker(lat, lng, index, status, info) {
      point = new GLatLng(lat, lng);

      var numberIcon = new GIcon(G_DEFAULT_ICON);
      numberIcon.image = "/images/markers/" + status + "/marker" + index + ".png";

      markerOptions = { icon:numberIcon };
      var marker = new GMarker(point, markerOptions);
      GEvent.addListener(marker, "click", function() {
        marker.openInfoWindowHtml(info);
      });
      return marker;
    }

    <% @facilities.each_with_index do |n, index| -%>
    <% num = @facilities.offset + index + 1
       break if num > SearchController::RESULTS_LIMIT %>
    <% info = escape_javascript(link_to(h(n.full_name),facility_slug_path(n.slug)) + "<br />" + comma_to_br(h(n.address))) -%>
    var marker = createMarker(<%= "#{n.lat}, #{n.lng} , #{num}" %>, "<%= @status_manager.status(n).downcase %>", "<%= info %>");
    map.addOverlay(marker);
    <% if index < 5 %>
    var point = new GLatLng(<%= "#{n.lat}, #{n.lng}" %>);
    zoomMarkers[<%= index + 1 %>] = point;
    <% end
    end -%>

    fitMap(map, zoomMarkers);
  }
}
/* ]]> */
</script>
<% end -%>
<div id="map_canvas" style="border: 1px solid black; height: 360px;"></div>
<small>You may need to scroll/zoom to find the facilitys marked on the map.</small>
<br clear="all" />

