%h1= @page_title = "Advanced search"

%p This page is still being tested, not all functionality is currently working.

%form{ :action=>"/search", :method=>"get" }
  %table.layout
    %tr
      %th{:align=>'right'}
        = label_tag 'q', 'Postcode, town or city'
      %td= text_field_tag 'q', params[:q], :size=>20
    %tr
      %td
      %td or
    %tr
      %th{:align=>'right'}
        = label_tag 'lat', 'Latitude'
        \/
        = label_tag 'lng', 'longitude'
      %td
        = text_field_tag 'lat', params[:lat], :size => 6
        = text_field_tag 'lng', params[:lng], :size => 6

    %tr
      %th{:align=>'right'}= label_tag 'date', 'Show services open on'
      %td= # calendar_date_select_tag "date", nil, :embedded => true, :time => true
    %tr
      %td
      %td
        = submit_tag 'Search', :name=> nil, :class=>'button'
        %input{:type=>'reset', :class=>'button'}
