- @page_title = "Could not find group"
%h1= @page_title

%p 
  There is no group called 
  = "\"<strong>#{h(@group)}</strong>\"."

- unless @matches.empty?
  %p Did you mean

  %ul
    - for group in @matches
      %li
        - if @location.blank?
          = link_to(h(group.name), group )
        - else
          = link_to(h(group.name), :overwrite_params=>{ :group => group.name } )
            
%p 
  Please revise your search and try again, alternatively you can  
  = link_to('view a list of the most popular groups', groups_path) + '.'

%p Groups are often named after a chain of stores, a type of service or a named location (i.e. Tesco, Supermarkets, Covent Garden). 

