- content_for :head do
  = auto_discovery_link_tag(:atom, { :overwrite_params => { :format => :xml  } }, { :title => "ATOM feed" } )

- content_for :top_content do
  .grid_16
    %h1= @page_title = "Facilities near \"#{h(params[:location])}\""

  .grid_8
    - if @time
      %p
        Showing facilitys open on
        %br
        %strong= @time.strftime("%a %d %b %Y - %I:%M%p")
        
    %table.facilityList
      - @facilities.each_with_index do |facility, index|
        - status = @status_manager.status(facility.id)
        - num = @facilities.offset + index + 1
        - break if num > SearchController::RESULTS_LIMIT
        %tr
          %td.oc
            = image_tag("markers/#{status.downcase}/marker#{num}.png", :alt => status)
            %br
            %span{:class=>status.downcase}
              = status
          %td
            = link_to h(facility.full_name), facility_slug_path(facility.slug)
            .info
              - if @status_manager.on_holiday?(facility.id)
                %strong
                  Bank holiday opening times, please check details
                  %br
              = number_with_precision(facility.distance,:precision=>1) + '&nbsp;miles&nbsp;' + compass(@location.heading_to(facility))

    %p
      %small
        Distances are as the crow flies

    = render 'increase_distance'
    = will_paginate(@facilities, :outer_window => 0, :inner_window => 1)

    = render 'partials/server_clock'

  .grid_8
    = render :partial => "map_search"

