%h1= @page_title = "Changes by IP"

%table.reports
  %tr
    %th ID
    %th Name
    %th{ :title => "The revision count for this business" } Rev
    %th{ :title => "Size of the XML in bytes" } Size
    %th User
    %th IP
    %th Updated
    %th Comment

  - for revision in @revisions
    %tr
      %td.num= link_to revision.facility_id, facility_path(revision.facility_id)
      %td= link_to h(revision.facility.full_name), facility_slug_path(revision.slug)
      %td.num= link_to revision.revision, facility_revision_path(revision.facility_id, revision.id)
      %td.num= number_with_delimiter(revision.length)
      %td.num= link_to revision.user_id, user_path(revision.user_id)
      %td.num= link_to revision.ip, ip_path(revision.ip)
      %td= time_ago_in_words(revision.created_at) + " ago"
      %td=h revision.comment

%h2 See also

%ul
  %li= link_to 'Recently removed', recentlyremoved_path

