#footer.container_16
  .grid_16
    %ul
      %li
        %strong
          = link_to 'Add a business', new_facility_path
      %li= link_to 'Groups', groups_path
      %li= link_to 'Blog', 'http://blog.opening-times.co.uk'
      %li= link_to 'Help', help_path

    %ul.small
      %li= link_to 'About', about_path, :accesskey => '8'
      %li= link_to 'Guidelines', guidelines_path
      %li= link_to 'Accessibility', accessibility_path, :accesskey => '9'
      %li= link_to 'Privacy', privacy_path
      %li= link_to 'Feedback', feedback_path
      %li= link_to 'Advertising', advertising_path

    %ul.small
      %li
        = link_to "&copy; Copyright #{Time.now.year} Opening Times Ltd", copyright_path
        Company N&deg; 06944409

  .clearfix
