%h1= @page_title = "Groups"

%p
  This list shows the most popular groups. 
  
%p 
  If you can think of something more interesting to show on this page, please
  = link_to('get in touch', feedback_path) + '.'

%table.facilityList
  - for group in @groups
    %tr
      %td.oc= number_with_delimiter(group[0])
      %td= link_to h(group[1]), :controller => :groups, :action => :show, :id => group[2]

= #will_paginate(@groups)


