%h1 Revision History

%p
  Revision history for
  = link_to(h(@facility.full_name), @facility) + '.'
  = @revision_limit
  most recent revisions.

%table.reports
  %tr
    %th Revision
    %th Slug
    %th Created
    %th Author
  - @revisions.each do |r|
    %tr
      %td= link_to r.revision, facility_revision_path(@facility.id, r)
      %td= r.slug
      %td
        %span{ :title => r.created_at }= time_ago_in_words(r.created_at) + " ago"
      %td=h r.created_by
