- @no_index = true
- content_for :head do
  %link{ :rel => "alternate", :type => "application/atom+xml", :href => facility_revisions_path(@facility, :format => "xml") }

%h1= @page_title = "Revision History  - Facility " + @facility.id.to_s

%p
  Revision history for
  = link_to "ID #{@facility.id}", facility_path(@facility.id)
  \-
  = link_to(h(@facility.full_name), facility_slug_path(@facility.slug)) + '.'
  = @revision_limit
  most recent revisions.

- form_tag '/compare', :method => :get do
  %table.reports
    %tr
      %th{ :colspan => 2 } Compare
      %th Updated
      %th Size
      %th IP
      %th User
      %th Comment
      %th
    - @revisions.each do |r|
      - prev = @revisions[@revisions.index(r)+1]
      %tr
        %td
          = link_to_unless(r == @revisions.first, 'curr', { :controller=>:compare, :a=>r,:b=>@revisions.first }, :title=>"Compare this version with the current version")
          |
          = link_to_unless(r == @revisions.last, 'prev', { :controller=>:compare, :a=>r,:b=>prev }, :title=>"Compare this version with the previous version")
        %td
          = radio_button_tag :a, r.id
          = radio_button_tag :b, r.id
        %td= link_to r.created_at.strftime("%I:%M, %d %B %Y"), facility_revision_path(@facility.id, r), :title => time_ago_in_words(r.created_at) + " ago"
        %td= number_with_delimiter(r.length) + " chars"
        %td= r.ip
        %td= link_to r.user_id, r.user, :title => "see other contributions from this user"
        %td=h r.comment
        %td= link_to_unless @revisions.size == 1, "revert", edit_facility_path(@facility, :r=>r), :title=>"Create a new revision based on this one"
  %p= submit_tag 'Compare selected', :name => nil, :class => 'button'

