!!!XML
%feed{ :xmlns => "http://www.w3.org/2005/Atom" }
  %id= facility_url(@facility, :format => "xml")
  %link{ :href => facility_url(@facility, :format => "xml"), :rel => "self" }
  %title{ :type => "text" }= "Facility ID #{@facility.id} - #{h(@facility.full_name)} revision feed"
  %updated= @facility.updated_at.iso8601
  %link= facility_url(@facility)


  - @revisions.each do |r|
    %entry
      %id= facility_url(@facility)
      %title{ :type => "text" }= "User: #{r.user_id}, length: #{r.length}"
      %link{ :rel => "alternate", :href => facility_revision_url(@facility, r) }
      %author
        %name= "User ID: #{h(r.user_id)}"
        %uri= user_url(r.user_id)
      %updated= r.created_at.iso8601
      %summary=h r.comment
