- @onload = "initialize();" # sf();"
- content_for :head do
  = javascript_include_tag :all

= error_messages_for :facility

- form_for @facility do |facility_form|

  - content_for :jstemplates do 
    = "var normalopening='#{generate_template(facility_form, :normal_openings, :partial => "form_normal_opening")}'"
    = "var holidayopening='#{generate_template(facility_form, :holiday_openings, :partial => "form_holiday_opening")}'"

  %small
    * Mandatory field

  %fieldset
    %legend Business information
    %table.inputFormTable
      %tr
        %th= label  :facility, :name, 'Name', :class => "mandatory"
        %td= facility_form.text_field :name, :class => "fullWidth"
        %td.hint The name of shop, business, etc.
      %tr
        %th= label :facility, :location, 'Location', :class => "mandatory"
        %td= facility_form.text_field :location, :class => "fullWidth"
        %td.hint Most general first, i.e. London, Battersea
      %tr
        %th= label :facility, :address, 'Address', :class => "mandatory"
        - @facility.address = commas_to_line_breaks(@facility.address)
        %td= facility_form.text_area :address, :rows => 3, :cols => 30, :onchange => "initialGeocode();"
      %tr
        %th= label :facility, :postcode, 'Postcode', :class => "mandatory"
        %td
          = facility_form.text_field :postcode, :size => 8, :onchange => "initialGeocode();"
          %a{ :onclick => "updateMap();" } Update map location
      %tr
        %th Map
        %td.hint
          Please drag the marker to point to the main entrance.
          = render 'map_edit'
        %td.hint
          %table.layout{ :style=>"margin-top: 8px" }
            %tr
              %td= label :facility, :lat, "Latitude", :class => "mandatory"
              %td= facility_form.text_field :lat, :size => 15, :class=>'shy'
            %tr
              %td= label :facility, :lng, "Longitude", :class => "mandatory"
              %td= facility_form.text_field :lng, :size => 15, :class=>'shy'
      %tr
        %th= label :facility, :phone, 'Phone'
        %td= facility_form.text_field :phone, :size => 13
      %tr
        %th= label :facility, :url, 'Website'
        %td= facility_form.text_field :url, :class => "fullWidth"
        %td.hint Further info from official website
  %br
  %fieldset
    %legend Normal opening times

    = error_messages_for 'normal opening', :object => @facility.normal_openings

    %ul.small
      %li Leave blank any days when the business is closed.
      %li
        See
        = link_to('how to enter closed for lunch or open past midnight', multipleopenings_path, :target => "_blank")
      %li You can also type midnight (for 12AM), and midday (for 12PM)

    %table#normalopenings.openingsForm
      %tr
        %th{ :scope => 'col' } Day
        %th{ :scope => 'col' } Opens
        %th{ :scope => 'col' } Closes
        %th{ :scope => 'col' }
          %label.optional Comment
      - facility_form.fields_for :normal_openings do |opening_form|
        - next if opening_form.object.marked_for_destruction?
        = render :partial => 'form_normal_opening', :locals => { :f => opening_form }

    %p= link_to 'Add a normal opening', '#normalopening', :class => "add_nested_item", :rel => "normalopenings"

  %br
  %fieldset
    %legend Bank Holiday opening times

    %p
      %small
        Please select which set of bank holidays this business follows.
        = link_to('See a list of upcoming bank holidays for each area', bankholidays_path, :target => "_blank") + '.'

    %p
      - HolidaySet.all.each_with_index do |h_set, index|
        = facility_form.radio_button :holiday_set_id, h_set.id, :checked => (index == 0)
        = facility_form.label "holiday_set_id_#{h_set.id}", h(h_set.name)
        %br

    = error_messages_for 'holiday_openings', :object => @facility.holiday_openings

    %table#holidayopenings.openingsForm
      %tr
        %th
        %th{ :scope => 'col' } Opens
        %th{ :scope => 'col' } Closes
        %th{ :scope => 'col' }
          %label.optional Comment
      - facility_form.fields_for :holiday_openings do |opening_form|
        - next if opening_form.object.marked_for_destruction?
        = render :partial => 'form_holiday_opening', :locals => { :f => opening_form }

    %p= link_to 'Add a holiday opening', '#holidayopening', :class => "add_nested_item", :rel => "holidayopenings"

  - unless @facility.new_record?
    %p
      = label :facility, :comment, 'Edit summary'
      %small (optional - briefly describe the changes you have made)
      %br
      = facility_form.text_field :comment, :class => "fullWidth"

  = facility_form.hidden_field :retired?

  - button_text = @facility.new_record? ? 'Create' : 'Update'
  %p= submit_tag button_text, :class=>'button tick', :disable_with => "Please wait..."

  %p
    %small By submitting you irrevocably agree to release your contributions under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution/Share-Alike License 3.0</a>.

