- @onload = "initialize();" # sf();"
- content_for :head do
  %script{ :type=>'text/javascript' }
    function sf(){ document.f.facility_name.focus(); }

= error_messages_for :facility

- form_for @facility, :html => { :name => 'f' } do |facility_form|
  %small
    * Optional field
  %fieldset
    %legend Facility information
    %table.inputFormTable
      %tr
        %th= label  :facility, :name
        %td= facility_form.text_field :name, :class => "fullWidth"
        %td.hint The name of shop, business, etc.
      %tr
        %th= label :facility, :location
        %td= facility_form.text_field :location, :class => "fullWidth"
        %td.hint Most general first, i.e. London, Battersea
      %tr
        %th= label :facility, :address
        - @facility.address = commas_to_line_breaks(@facility.address)
        %td= facility_form.text_area :address, :rows => 4, :cols => 30
      %tr
        %th= label :facility, :postcode
        %td
          = facility_form.text_field :postcode, :size => 8
          %button{ :onclick => "showAddress(document.getElementById('facility_address').value + ', ' + document.getElementById('facility_postcode').value); return false;" } Update map location
      %tr
        %th Map
        %td= render 'map_edit'
        %td.hint
          Please drag the arrow to point to the main entrance, or enter the coordiantes below
          %table.layout{ :style=>"margin-top: 8px" }
            %tr
              %td= label :facility, :lat, "Latitude"
              %td= facility_form.text_field :lat, :size => 15, :class=>'shy'
            %tr
              %td= label :facility, :lng, "Longitude"
              %td= facility_form.text_field :lng, :size => 15, :class=>'shy'
      %tr
        %th= label :facility, :phone, 'Phone', :class => "optional"
        %td= facility_form.text_field :phone, :size => 13
      %tr
        %th= label :facility, :email, 'Email', :class => "optional"
        %td= facility_form.text_field :email, :class => "fullWidth"
      %tr
        %th= label :facility, :url, 'Website', :class => "optional"
        %td= facility_form.text_field :url, :class => "fullWidth"
        %td.hint Link to official website's page for this location
  %br
  %fieldset
    %legend Normal opening times

    = error_messages_for 'normal opening', :object => @facility.normal_openings

    %p Leave blank any days when the facility is closed. If it is  closed for lunch or open past midnight, enter the first part on one line , then add a new opening to enter the second part.
    %table#normalOpenings.openingsForm
      %tr
        %th{ :scope => 'col' } Day
        %th{ :scope => 'col' } Opens
        %th{ :scope => 'col' } Closes
        %th{ :scope => 'col' }
          %label.optional Comment
      - facility_form.fields_for :normal_openings do |opening_form|
        - next if opening_form.object.marked_for_destruction?
        %tr.normal_opening
          %td= opening_form.select :week_day, Opening::DAYNAMES
          %td= opening_form.text_field :opens_at, :size => 5
          %td= opening_form.text_field :closes_at, :size => 5
          %td= opening_form.text_field :comment
          %td.action
            = remove_link_unless_new_record(opening_form)

        =# render :partial => 'form_normal_opening', :locals => { :ff => opening_form, :normal_opening => opening_form.object }


    %p= add_normal_opening_link("Add another opening", facility_form)

  %br
  - button_text = @facility.new_record? ? 'Create' : 'Update'
  = submit_tag button_text, :disable_with => "Please wait...", :class=>'button tick'
  = submit_tag 'Cancel', :class=>'button cross'
  %br
  %p
    = label :facility, :comment, 'Revision comment', :class => "optional"
    %small (optional - leave a comment to summarise your changes)
    %br
    = facility_form.text_field :comment, :class => "fullWidth"



  %br
