.infoBox
  %ul
    %li
      ID:
      = @facility.id
    %li
      .geo
        Geo:
        %span.latitude= @facility.lat
        %span.longitude= @facility.lng
    %li
      Updated:
      = @facility.updated_at.strftime("%I:%M, %d %b %Y")
    %li
      Updated by user:
      = link_to @facility.user_id, user_path(@facility.user_id)
    %li
      Revision:
      = link_to @facility.revision, facility_revisions_path(@facility)
      |
      = link_to 'feed', facility_revisions_path(@facility, :format => "xml"), :rel => "alternate", :type => "application/atom+xml"
    - if lockdown?
      %li Editing is currently disabled
    - else
      %li
        = link_to 'Edit', edit_facility_path(@facility)
        |
        = link_to 'Remove', remove_facility_path(@facility)
        |
        = link_to 'Clone', new_facility_path(:f => @facility.id), :title => 'Create a new business based on this one'

  Summary:
  = @facility.summary_normal_openings

