<% @onload = "initialize();" %>
<% content_for :head do -%>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= GOOGLE_MAPS_API_KEY %>" type="text/javascript"></script>
<script type="text/javascript">
/* <![CDATA[ */
function initialize() {
  if (GBrowserIsCompatible()) {
    var latlng = new GLatLng(<%= @facility.lat %>,<%= @facility.lng %>);
    var map = new GMap2(document.getElementById("map_canvas"));
  	map.setCenter(latlng, 15);

    map.addControl(new GLargeMapControl());
    map.addControl(new GMenuMapTypeControl());

    map.removeMapType(G_SATELLITE_MAP);
    var mapControl = new GMapTypeControl();
    map.addControl(mapControl);

    function createMarker(lat, lng, index, status, info) {
      point = new GLatLng(lat, lng);

      var numberIcon = new GIcon(G_DEFAULT_ICON);
      numberIcon.image = "/images/markers/" + status + "/marker" + index + ".png";

      markerOptions = { icon:numberIcon };
      var marker = new GMarker(point, markerOptions);
      GEvent.addListener(marker, "click", function() {
        marker.openInfoWindowHtml(info,{maxWidth:250});
      });
      return marker;
    }

    <% @nearby.each_with_index do |n,index| -%>
    <% info = escape_javascript(link_to(h(n.full_name),facility_slug_path(n.slug)) + "<br />" + comma_to_br(h(n.address))) -%>
    map.addOverlay(createMarker(<%= "#{n.lat}, #{n.lng}, #{index+1}" %>, "<%= @status_manager.status(n).downcase %>", "<%= info %>"));
    <% end -%>

    var locationIcon = new GIcon(G_DEFAULT_ICON);
    locationIcon.image = "http://maps.google.com/mapfiles/arrow.png";
    locationIcon.shadow = "http://www.google.com/mapfiles/arrowshadow.png";
    locationIcon.iconSize = new GSize(39, 34);
    locationIcon.shadowSize = new GSize(39, 34);
    locationIcon.iconAnchor = new GPoint(9, 34);

    var locationMarker = new GMarker(latlng, { icon:locationIcon } )
    map.addOverlay(locationMarker);

    <% info = "<strong>#{@facility.full_name}</strong><br />Currently <span class='#{@status.downcase}'>#{@status}</span>" -%>
    locationMarker.openInfoWindowHtml("<%= escape_javascript(info) %>",{maxWidth:250});
  }
}
/* ]]> */
</script>
<% end -%>
<div id="map_canvas" style="border: 1px solid black; height: 360px;"></div>

