<h1>Listing facilities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Slug</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Url</th>
    <th>Description</th>
  </tr>

<% @facilities.each do |facility| %>
  <tr>
    <td><%=h facility.id %></td>
    <td><%=h facility.name %></td>
    <td><%=h facility.location %></td>
    <td><%=h facility.slug %></td>
    <td><%=h facility.address %></td>
    <td><%=h facility.postcode %></td>
    <td><%=h facility.phone %></td>
    <td><%=h facility.email %></td>
    <td><%=h facility.url %></td>
    <td><%=h facility.description %></td>
    <td><%= link_to 'Show', facility %></td>
    <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
    <td><%= link_to 'Destroy', facility, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New facility', new_facility_path %>
