- @page_title = @facility.full_name
- @page_desc = "Opening times and map for #{@facility.full_name}, #{@facility.address}"
- content_for :head do
  =# GMap.header

%h1= h @facility.full_name

%table.layout
  %tr
    %td{ :style=>"padding-right: 8px; border-right: 1px solid #ddd;" }

      = simple_format(@facility.description)

      %h2 Normal opening times
      %table.openingTimes
        %colgroup
          %col.day
          %col.time
          %col.dash
          %col.time
          %col.comment
        %tr
          %th
          %th{ :scope=>'col' } Opens
          %th
          %th{ :scope=>'col' } Closes
          %th

      - if @map
        %br
        %h2 Map
        %span
          %small You can drag the map around to see other nearby services
        <script type="text/javascript">
        \/* <![CDATA[ */
        = @map.to_html( :no_script_tag=> true ).gsub("<\/","<\\\/")
        \/* ]]> */
        </script>
        = @map.div(:width => 600, :height => 400)

    %td{ :style=>'padding-left: 8px;' }
      .advertBox

      %h2 Address
      %address
        = comma_to_br(h(@facility.full_address))
      - unless (@facility.phone || @facility.email || @facility.url).blank?
        %ul.noBullet
          - unless @facility.phone.blank?
            %li= 'Tel:&nbsp;' + @facility.phone
          - unless @facility.email.blank?
            %li= 'Email:&nbsp;' + mail_to(@facility.email)
          - unless @facility.url.blank?
            %li= link_to("More information on #{h(@facility.full_name)}", @facility.url)

      %h2 Nearest services

      %h2 Groups
      %ul
        %li Woo
      %br
