%h1= @page_title = "Frequently Asked Questions (FAQ)"

%p
  For development questions and bugs please see the Opening Times project on GitHub.

%ul
  %li= anchor_to "Why hasn't service X been added to Opening Times?"
  %li= anchor_to "Can I add my own business?"


%dl
  %dt= anchor_for "Why hasn't service X been added to Opening Times?"
  %dd
    I've added a small selection of chain stores which already listed their information on their website.
  %dt= anchor_for "Why is this service missing?"
  %dd
    At the moment I have only added opening times for ASDA, Morrions, Tesco, Sainsbury's and Waitrose.
    I plan to add as many stores as possible (and other services) in the future.

%p
  Currently the website is under testing so there may be errors, incorrect or missing information.
  I am really keen to hear feedback from any users, so please
  = link_to( "get in touch", feedback_path) + '.'


- 20.times do #to allow anchor links to work
  %br
