- content_for :head do
  %link{ :href=>url_for(:format=>:xml), :rel=>:alternate, :type=>'application/rss+xml' }

%h1= @page_title = "Recent changes"

%ul
  - for version in @versions
    %li
      = link_to h(version.facility.full_name), version.facility
      = link_to 'history', facility_versions_path(version.facility)
      = '<strong>NEW</strong>' if version.version == 1
      = time_ago_in_words(version.created_at) + " ago"
