%h1= @oage_title = "Statistics"

%h2 Facilities
%table
  %tr
    %td Total facilities
    %td= @total_facilities
  %tr
    %td New facilities today
    %td= @new_facilities_today

%h2 Users
%table
  %tr
    %td Total users
    %td= @total_users
  %tr
    %td New users today
    %td= @new_users_today
