%h1= @page_title = "About Opening Times"

%p
  Opening Times is a personal project created in my spare time.
  My aim is to provide comprehensive, accurate opening times information for facilities such as shops, restaurants, libraries and such like in the UK. The <a href="/copyright">source code and data are both available under an open license</a>.

%p
  Currently the website is under testing so there may be errors, incorrect or missing information.
  I am really keen to hear feedback from any users, so please
  = link_to( "get in touch", feedback_path) + '.'

%h2 Thanks
%p Thanks to the following free open source projects which I used to build Opening Times.

%ul
  %li
    = link_to 'Ruby', 'http://www.ruby-lang.org'
    = link_to 'Ruby on Rails', 'http://www.rubyonrails.org'
  %li
    = link_to 'Ubuntu', 'http://www.ubuntu.com'
    = link_to 'GNU', 'http://www.gnu.org'
    = link_to 'Linux', 'http://www.linux.org'
    = link_to 'Git', 'http://git.or.cz'
  %li
    = link_to 'Thin', 'http://code.macournoyer.com/thin/'
    = link_to 'Nginx', 'http://nginx.net'
  %li
    = link_to 'Firefox', 'http://www.mozilla.com/firefox'
    = link_to 'Firefox HTML validator', 'http://users.skynet.be/mgueury/mozilla'
    = link_to 'Inkscape', 'http://www.inkscape.org/'
%ul
  %li
    Icons:
    = link_to "FAMFAMFAM", 'http://www.famfamfam.com/lab/icons/silk/'
    (Creative Commons)
