%h1= @page_title = "Upcoming Bank Holidays"

%p
  The list below is used to determine whether to use the Bank Holiday opening hours.
  You are welcome to reuse this list (also available in
  = link_to('xml', :format=>'xml') + ' and '
  = link_to('json', :format=>'json') + '),'
  however I accept no liability for accuracy.

%p
  You can find out more information about
  = link_to('Bank holidays and British Summer Time on DirectGov', 'http://www.direct.gov.uk/en/Governmentcitizensandrights/LivingintheUK/DG_073741') + '.'

- @holiday_sets.each do |h_set|
  %h2&= h_set.name
  - prev_year = ""
  %ul
    - h_set.holiday_events.each do |h_event|
      - if h_event.date.year != prev_year
        %li
          %h3= prev_year = h_event.date.year
      %li{ :class => h_event.date == Date.today ? 'highlight' : nil }
        = h_event.date.strftime("%a %d %b %Y").sub(/ 0(\d)/,' \1')
        = h_event.comment

