%h1= @page_title = "Upcoming Bank Holidays"

%p
  The list below is used to determine whether to use the Bank Holiday opening hours.
  You are welcome to reuse this list (also available in
  = link_to('xml', :format=>'xml') + ' and '
  = link_to('json', :format=>'json') + '),'
  however I accept no liability for accuracy.

%p
  You can find out more information about
  = link_to('Bank holidays and British Summer Time on DirectGov', 'http://www.direct.gov.uk/en/Governmentcitizensandrights/LivingintheUK/DG_073741') + '.'

%ul
  - @holiday_sets.each do |h_set|
    %li= anchor_to h(h_set.name)


- @holiday_sets.each do |h_set|
  %h2= anchor_for h(h_set.name)

  - prev_year = ""
  %table.reports
    %tr
      %th Year
      %th Month
      %th Day
      %th Weekday
      %th Comment
    - h_set.holiday_events.future.each do |h_event|
      %tr{ :class => h_event.date == Date.today ? 'highlight' : nil }
        %td= h_event.date.year
        %td= h_event.date.strftime("%B")
        %td= h_event.date.day
        %td= h_event.date.strftime("%A")
        %td
          = h_event.comment
          - if h_event.date == Date.today
            %strong
              (today)

