#flash-info.flash Test info message

#flash-success.flash Test success message

#flash-error.flash Test error message

%h1= @page_title = "Test harness"

%p
  This is a test page to try out all the CSS and such

%p
  Currently the website is under testing so there may be errors, bugs, incorrect or missing information.
  I am really keen to hear feedback from any users, so please
  = link_to( "get in touch", feedback_path) + '.'


%h2 Thanks

%p Thanks to Laura, my parents and all my friends and colleagues who put up with me.

%h3 Open Source software used

%p
  Thanks to the following open source projects which were used to help build Opening Times

%ul
  %li= link_to 'Ruby', 'http://www.ruby-lang.org'
  %li= link_to 'Ruby on Rails', 'http://www.rubyonrails.org'
  %li= link_to 'Linux', 'http://www.linux.org'
  %li= link_to 'GNU', 'http://www.gnu.org'
  %li= link_to 'Ubuntu', 'http://www.ubuntu.com'
  %li= link_to 'Git', 'http://git.or.cz'
  %li= link_to 'Thin', 'http://code.macournoyer.com/thin/'
  %li= link_to 'Nginx', 'http://nginx.net'
  %li= link_to 'Firefox', 'http://www.mozilla.com/firefox'
  %li= link_to 'Firefox HTML validator', 'http://users.skynet.be/mgueury/mozilla'
  %li= link_to 'Inkscape', 'http://www.inkscape.org/'
  %li
    = link_to "FAMFAMFAM", 'http://www.famfamfam.com/lab/icons/silk/'
    (Creative Commons icons)
  %li Any other projects I've forgotten, let me know if you want a link


- form_tag 'woo' do

  %small
    * Mandatory field

  %fieldset
    %legend Form
    %table.inputFormTable
      %tr
        %th= label :facility, :name, 'Name', :class => "mandatory"
        %td= text_field_tag :name, :class => "fullWidth"
        %td.hint The name of shop, business, etc.



