- @no_banner = @no_search_bar = true
- @onload = "sf();"
- content_for :head do
  %script{ :type=>'text/javascript' }
    function sf(){document.f.location.focus();}

- content_for :top_content do
  .container_16
    .grid_5.push_11
      = render 'partials/user_bar'
    .clearfix

  #homePage{ :style=>"text-align: center;" }
    :plain
      <object type="application/x-shockwave-flash" data="/images/logo.swf" width="196" height="196">
        <param name="movie" value="/images/logo.swf" />
        <param name="wmode" value="transparent" />
        <img id="homeclock" src="/images/logo.png" alt="Opening Times logo" width="196" height="196" />
      </object>
    %h1#siteTitle
      Opening Times
    %p
      Enter a UK town or postcode to see when nearby businesses are open.

    #searchBar
      = form_tag('/search', :name=>'f', :method => :get)
      = label_tag 'location', 'Where'
      = text_field_tag 'location', params[:location], :size => 34
      = submit_tag 'Search', :name => nil, :class=>'button'
      </form>
      
    %p 
      Opening Times is a 
      = link_to('wiki', 'http://en.wikipedia.org/wiki/Wiki') + ','
      you can  
      = link_to 'add or edit information', new_facility_path
      directly yourself.
