!!!XML
%feed{ :xmlns => "http://www.w3.org/2005/Atom" }
  %id= recentchanges_url
  %link{ :href => recentchanges_url(:format => "xml"), :rel => "self" }
  %title{ :type => "text" }= "Opening Times recent changes"
  %updated= @revisions.first.created_at.iso8601

  - @revisions.each do |r|
    %entry
      %id= facility_url(r.facility_id)
      %title{ :type => "text" }= "User: #{r.user_id}, size: #{r.length}"
      %link{ :rel => "alternate", :href => facility_revision_url(r.facility_id, r) }
      %author
        %name= "User ID: #{h(r.user_id)}"
        %uri= user_url(r.user_id)
      %updated= r.created_at.iso8601
      %summary=h r.comment

