- content_for :head do
  %link{ :href => url_for(:format => :xml), :rel => :alternate, :type => 'application/rss+xml' }

%h1= @page_title = "Recent changes"

%table.reports
  %tr
    %th ID
    %th Name
    %th Revision
    %th Length
    %th User
    %th Updated

  - for revision in @revisions
    %tr
      %td.num= link_to revision.facility_id, facility_revisions_path(revision.facility_id)
      %td= link_to h(revision.facility.full_name), facility_revision_path(revision.facility_id, revision.id)
      %td.num= revision.revision
      %td.num= number_with_delimiter(revision.length)
      %td= revision.created_by
      %td= time_ago_in_words(revision.created_at) + " ago"
