%h1= @oage_title = "Statistics"

%h2 Facilities
%table
  %tr
    %td Total facilities
    %td
      = @total_active_facilities
      = '(' + @total_facilities.to_s
      including retired)
  %tr
    %td New facilities today
    %td= @new_facilities_today
  %tr
    %td Total facilities currently open
    %td
      = @total_open
      = "(#{@percent_open}%)"


%h2 Users
%table
  %tr
    %td Total users
    %td= @total_users
  %tr
    %td New users today
    %td= @new_users_today
