.reportsList
  = render 'reports/report_list'    

%h1= @page_title = "Midday openings/closings"

%p This report shows where an opening starts or ends at midday.


- form_tag '', :method=>:get do
  = label :week_day, "Week day"
  = select_tag :week_day, "<option value=''>---</option>" + options_for_week_day(@week_day)
  = label :end, "opens/closes"
  = select_tag :end, options_for_select(%w(both opens closes), @end)
  = submit_tag "Update", :name=>nil, :class => 'button'

%p= page_entries_info @openings

- unless @openings.empty?
  %table.reports
    %tr
      %th Day
      %th Opens
      %th Closes
      %th Comment
      %th Facility
      
    - @openings.each do |opening|
      %tr
        %td= opening.week_day
        %td= fmt_time(opening.opens_at)
        %td= fmt_time(opening.closes_at)
        %td= opening.comment
        %td= f_link(opening.facility)

  %br
  = will_paginate @openings

