!!!
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= @page_title ? h(@page_title) + ' - Opening Times' : 'Opening Times'
    %link{ :rel=>"icon", :href=> "http://#{request.host_with_port}/favicon.png", :type=>"image/x-icon" }
    %meta{ 'http-equiv'=>"content-type", :content=>"text/html;charset=UTF-8" }
    - if @page_desc
      = tag(:meta, { :name=>'description', :content => @page_desc })
    - if @no_index
      = tag(:meta, { :name=>'robots', :content => 'noindex' })
    = stylesheet_link_tag :all, :cache => true, :media => 'all'
    - javascript_tag do
      = yield(:jstemplates)
    = yield :head
    - if RAILS_ENV == 'development'
      %style{ :type=>'text/css' }
        body { background: url(/images/development-mode.png) #f9f; }

  %body{ :onload => @onload, :unload => @onunload }
    #container
      %a#top{ :name => "top" }
      %a#skipToContent{:href=>'#content', :accesskey=>'s'}
        %img{:src=>'/images/invis.png',:width=>1,:height=>1, :alt=>'Skip to content'}

      = render 'partials/banner' unless @no_banner
      = render 'partials/search_bar' unless @no_search_bar

      #main.container_16

        - unless flash.empty?
          .grid_16
            - flash.each do |name, msg|
              .flash
                = content_tag :div, msg, :class => "flash-#{name}"
              
        = yield :top_content

        .grid_16
          %a#content{:name=>'content'}
          = yield
        .clearfix

      = render :partial => 'partials/footer'
    =# render :partial => 'partials/analytics' if RAILS_ENV == 'production'

